body {
    position: relative;
}

:root {
    --white-color: #ffffff;
    --detective-thriller: #3b3c40;
    --imagination: #dfdff0;
}

.menu__box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(59, 60, 64, 4);
    opacity: 0.4;
    z-index: 1;
}

@keyframes burger {
    0% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0);
    }
}

.menu {
    position: absolute;
    padding: 30px 10px;
    top: 0;
    min-width: 295px;
    height: 100vh;
    background-color: var(--white-color);
    border-radius: 0 20px 20px 0;
    overflow-x: auto;
    z-index: 2;
    animation: burger .3s ease-in-out;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px !important;
}

.menu__link,
.menu__contacts-email,
.menu__contacts-phone {
    padding: 3px 0 3px 34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--detective-thriller);
    background-repeat: no-repeat;
}

.menu__link-catalog {
    background-image: url('../image/catalog-menu.svg');
}

.menu__link-cart {
    background-image: url('../image/cart-menu.svg');
}

.menu__link-favourite {
    background-image: url('../image/favourite-menu.svg');
}

.menu__link-profile {
    background-image: url('../image/profile-menu.svg');
}

.menu__contacts {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.menu__contacts::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--imagination);
}

.menu__contacts::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--imagination);
}

.menu__contacts-email {
    display: block;
    width: min-content;
    margin-bottom: 15px;
    background-image: url('../image/email-menu.svg');
}

.menu__contacts-phone {
    background-image: url('../image/phone-menu.svg');
}

.menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav__link-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--detective-thriller);
}

.menu__btn-close {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 4;
}

.menu__btn-close::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 24px;
    height: 2px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}

.menu__btn-close::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 24px;
    height: 2px;
    background-color: var(--white-color);
    transform: rotate(-45deg);
}